
         <div class="single_post">
          <div class="vote-buttons">
              <table>
                <tr>
                  <td>
                    <form action="/votes/new" method="post">
                      <input type="hidden" name="value" value="1">
                      <input type="hidden" name="post_id" value="<%= @post.id %>">
                      <input type="hidden" name="votable_id" value="<%= answer.id %>">
                      <input type="hidden" name="votable_type" value="<%= answer.class %>">
                      <input type="image" src="/images/logo1.png" alt="Submit Form" />
                    </form>
                  </td>
                </tr>
                <tr>
                  <td class='vote-count'><%= answer.points %></td>
                </tr>
                <tr>
                  <td>
                    <form action="/votes/new" method="post">
                      <input type="hidden" name="value" value="-1">
                      <input type="hidden" name="post_id" value="<%= @post.id %>">
                      <input type="hidden" name="votable_id" value="<%= answer.id %>">
                      <input type="hidden" name="votable_type" value="<%= answer.class %>">
                      <input type="image" src="/images/logo2.png" alt="Submit Form" />
                    </form>
                    </td>
                  </tr>
                </table>
            </div>
            <p class='post-body'><%= answer.body %> <span class="created-by">- Created <%= @post.age %> by <a href="/users/<%= answer.responder.id %>"><%= answer.responder.display_name %></a></span><br>
              <span class="add-comment"><a href="/comments/answer?answer_id=<%=answer.id %>">add a comment</a></span>
            </p>
            <div class="answer-add-comment">
            </div>
            <% if answer.comments %>
              <% answer.comments.each do |comment| %>
              <div class='comment-body'><%= comment.content %> <span class ="created-by">- Created <%= @post.age %> by <a href="/users/<%= comment.commenter.id %>"><%= comment.commenter.display_name %></a></span></div>
              <% end %>
            <% end %>
        </div>
