<div class="user-info">

  <h3><%= @user.display_name %></h2>

      Stats:
      <ul id= "">

        <li>Posts Created: <%= @user.posts.length %></li>
        <li>Posts Answered: <%= @user.answers.length %></li>
        <li>Answers Accepted: <%= @user.accepted_answers %></li>
        <li>Comments Created: <%= @user.comments.length %></li>
        <li>Total Votes Cast: <%= @user.votes.length %></li>
      </ul>

  <h4>Active Threads: </h4>
    <div class="content">
      <p class="user_posts"><p>
    </div>


</div>
