<div class="content">

  <h3><%= @user.display_name %></h2>

      Stats:
      <ul id= "">

        <li>Posts Created: <%= @user.posts.length %></li>
        <li>Posts Answered: <%= @user.answers.length %></li>
        <li>Answers Accepted: <%= @user.accepted_answers %></li>
        <li>Comments Created: <%= @user.comments.length %></li>
        <li>Total Votes Cast: <%= @user.votes.length %></li>
      </ul>

  <h4>Active Threads: </h4>
    <div class="content">



        <% @active_threads.each do |post| %>
          <br><article class ="single_post">
            <p>
              <section class="view_count">
                <table>
                  <tr>
                    <td style="width:60px; text-align:center;">
                      <div class="vote_count"><%= post.votes.count %><br>votes<br></div>
                    </td>
                    <td style="width:60px; text-align:center;">
                      <div class="answer_count"><%= post.answers.count %>
                      <% if post.answers.count == 1 %>
                          <br>answer </br>
                      <% else %>
                          <br>answers</br>
                      <%end%>
                      </div>
                    </td>
                    <td style="width:60px; text-align:center;">
                      <div class="view_count"><%= post.views %><br>views<br></div>
                    </td>
                  </tr>
                </table>
                </section>
                <section class = "title_container">
                  <div class="post_title">
                    <a class='post_links' href = '/posts/<%= post.id %>'><%= post.title %></a></p></div><br>
                    <span class="">
                    <% if post.tags %>
                     <% post.tags.each do |tag| %>
                      <a class="tags" href="/tags/<%= tag.id %>"><%= tag.name %></a>
                      <% end %>
                    <% end %>
                    </span></p>
                </section>
           </article>
        <% end %>
    </div>
  </div>
