<div class='content'>

  <h1><%= @post.title %></h1>
  <p id='post-body'><%= @post.body %><br>
  </p>
  <div>
    <span style="margin-left:25px; margin-right:25px">
      <% if @post.tags %>
       <% @post.tags.each do |tag| %>
        <strong>Tags:</strong> <a class="tags" href="/tags/<%= tag.id %>"><%= tag.name %></a>
        <% end %>
      <% end %>
    </span>
  </div>

  <div>
    <div>
      <table class='vote-buttons' >
        <tr>
          <td>
            <form action="/votes/new" method="post">
              <input type="hidden" name="value" value="1">
              <input type="hidden" name="votable_id" value="<%= @post.id %>">
              <input type="hidden" name="votable_type" value="<%= @post.class %>">
              <input type='submit' value="^">
            </form>
          </td>
        </tr>
        <tr>
          <td><%= @post.points %></td>
        </tr>
        <tr>
          <td>
            <form action="/votes/new" method="post">
              <input type="hidden" name="value" value="-1">
              <input type="hidden" name="votable_id" value="<%= @post.id %>">
              <input type="hidden" name="votable_type" value="<%= @post.class %>">
              <input type='submit' value="v">
            </form>

          </td>
        </tr>
      </table>
    </div>
    <div id='post-body'><%= @post.body %></div>
  </div>

  <p style="font-size:20;"><% if @post.answers.length > 0 %>
    <%= @post.answers.length %> Answer<% if @post.answers.length > 1 %>s
    <% end %>
  <% end %>
  </p>

  <div class="single_post">
    <% if @answers %>
      <% @answers.each do |answer| %>
        <p><div id="answer"><%= answer.body %></div></p>
      <% end %>
    <% end %>


<% if logged_in? %>
<form action="/answers" method="post">
  <div class="container">
    <h2> Your Answer </h2>
    <input type="hidden" name="post_id" value="<%= @post.id %>">
    <textarea name="body" rows="5" cols="50"></textarea>
  </div>
    <input type="submit" name="Post Answer">
  </form>
  <% end %>
</div>
