<div class='content'>
  <div id="post_wrapper">
    <h1><%= @post.title %></h1>
    <div class="vote-buttons">
        <table>
          <tr>
            <td>
              <form action="/votes/new" method="post">
                <input type="hidden" name="value" value="1">
                <input type="hidden" name="post_id" value="<%= @post.id %>">
                <input type="hidden" name="votable_id" value="<%= @post.id %>">
                <input type="hidden" name="votable_type" value="<%= @post.class %>">
                <input type="image" src="http://imageshack.com/a/img921/7142/Nbdv9u.png" alt="Submit Form" />
              </form>
            </td>
          </tr>
          <tr>
            <td class='vote-count'><%= @post.points %></td>
          </tr>
          <tr>
            <td>
              <form action="/votes/new" method="post">
                <input type="hidden" name="value" value="-1">
                <input type="hidden" name="post_id" value="<%= @post.id %>">
                <input type="hidden" name="votable_id" value="<%= @post.id %>">
                <input type="hidden" name="votable_type" value="<%= @post.class %>">
                <input type="image" src="http://imageshack.com/a/img922/9072/rgwXLl.png" alt="Submit Form" />
              </form>

            </td>
          </tr>
        </table>
    </div>
    <div class='post-body'><%= @post.body %> -<a href="/users/<%= @post.poster.id %>"><%= @post.poster.display_name %></a><br>
      <div class="post-tags">
        <% if @post.tags %>
         <% @post.tags.each do |tag| %>
           <a class="tags" href="/tags/<%= tag.id %>"><%= tag.name %></a>
          <% end %>
        <% end %>
      </div>
      <p class="post-add-comment"><a href="/comments/new?post_id=<%=@post.id %>">add a comment</a></p>
      <div class="post-comments">
        <% if @post.comments %>
          <% @post.comments.each do |comment| %>
            <div class='post-comment-body'><%= comment.content %></div>
          <% end %>
        <% end %>
      </div>
    </div>


      <p><% if @post.answers.length > 0 %>
        <%= @post.answers.length %> Answer<% if @post.answers.length > 1 %>s
        <% end %>
        <% end %>
        </p>
    </div>

  <div id="answer_wrapper">

    <% if @answers %>
      <% @answers.each do |answer| %>
        <div class="single_post">
          <div class="vote-buttons">
              <table>
                <tr>
                  <td>
                    <form action="/votes/new" method="post">
                      <input type="hidden" name="value" value="1">
                      <input type="hidden" name="post_id" value="<%= @post.id %>">
                      <input type="hidden" name="votable_id" value="<%= answer.id %>">
                      <input type="hidden" name="votable_type" value="<%= answer.class %>">
                      <input type="image" src="http://imageshack.com/a/img921/7142/Nbdv9u.png" alt="Submit Form" />
                    </form>
                  </td>
                </tr>
                <tr>
                  <td class='vote-count'><%= answer.points %></td>
                </tr>
                <tr>
                  <td>
                    <form action="/votes/new" method="post">
                      <input type="hidden" name="value" value="-1">
                      <input type="hidden" name="post_id" value="<%= @post.id %>">
                      <input type="hidden" name="votable_id" value="<%= answer.id %>">
                      <input type="hidden" name="votable_type" value="<%= answer.class %>">
                      <input type="image" src="http://imageshack.com/a/img922/9072/rgwXLl.png" alt="Submit Form" />
                    </form>
                    </td>
                  </tr>
                </table>
            </div>
            <p class='post-body'><%= answer.body %> -<a href="/users/<%= answer.responder.id %>"><%= answer.responder.display_name %></a><br>
              <span class="add-comment"><a href="/comments/new?post_id=<%=@post.id %>">add a comment</a></span>
            </p>
            <div class="answer-add-comment">
            </div>
            <% if answer.comments %>
              <% answer.comments.each do |comment| %>
              <div class='comment-body'><%= comment.content %> -<a href="/users/<%= comment.commenter.id %>"><%= comment.commenter.display_name %></a></div>
              <% end %>
            <% end %>
        </div>
      <% end %>
    <% end %>
  </div>


  <%= erb :'/partials/_errors', layout: false, locals: { errors: @errors } %>

  <% if logged_in? %>
  <form id="answer_form" action="/answers" method="post">
    <div class="container">
      <h2> Your Answer </h2>
      <input type="hidden" name="post_id" value="<%= @post.id %>">
      <textarea name="body" rows="5" cols="50"></textarea>
    </div>
      <input type="submit" name="Post Answer">
    </form>
    <% end %>
  </div>
</div>
